version: '3'
services:
  web:
    build: .
    ports:
      - "8000:80"
    volumes:
      - ../test:/usr/local/apache2/htdocs
      - ../:/src
      - ./php.ini:/usr/local/lib/php.ini
    command: "/usr/local/apache2/bin/apachectl -D FOREGROUND"